h1 {
    margin-bottom:20px !important;
}

h1 a {
    color:#fff;
    font-family:Lobster;
    font-size:32px;
    font-weight:normal;
    text-decoration:none;
}

nav.toc {
    float:right;
    padding:15px 20px;
    background:#2a2a2a;
    border-radius:5px;
    margin:0px 0px 15px 15px;
    width:200px;
}

nav.toc h3,
nav.rel h3 {
    margin-bottom:10px;
}

nav.toc ul {
    list-style:square;
    margin:0px;
    padding:0px;
    margin-bottom:5px;

    font-size:12px;
}

nav.toc ul.nav {
    margin-bottom:20px;
}

nav.toc ul li {
    margin-left:18px;
    padding-left:0px;

    margin-top:5px;
    margin-bottom:5px;
}

nav.toc a {
    color:#fff;
    font-family:Arial;
    font-weight:normal;
    font-size:12px;
    text-decoration:none;
}

nav.toc a:hover {
    text-decoration:underline;
}

section.documentation {
    font-size:16px;
    line-height:24px;
}

section.documentation h1 {
    font-size: 26px;
    color:#fff;
    margin:0px 0px 15px 0px;
}

section.documentation h2 {
    font-size: 22px;
    margin:25px 0px 15px 0px;
    color:#fff;
}

section.documentation h3,
section.documentation h4 {
    font-size: 18px;
    margin:25px 0px 15px 0px;
    color:#fff;
}

section.documentation h1 a,
section.documentation h2 a,
section.documentation h3 a,
section.documentation h4 a {
    font-family: Georgia, "Times New Roman", serif !important;
    font-size:100%;
    font-weight:normal;
    color:#343434 !important;
    display:none;
    margin-left:5px;
    text-align: left;
    text-decoration:none;
}

section.documentation h1:hover a,
section.documentation h2:hover a,
section.documentation h3:hover a,
section.documentation h4:hover a {
    display:inline !important;
}

section.documentation ul,
section.documentation ol {
    margin-left:18px;
}

section.documentation p,
section.documentation ul,
section.documentation ol {
    margin-bottom:10px;
}

section.documentation a {
    color:#fff;
    font-style:default;
    text-decoration:none;
}

section.documentation a:hover {
    text-decoration:underline;
}

section.documentation .docutils.literal {
    background:#343434;
    color:#fff;
    padding:1px 3px;
    font-size:15px;
    font-family: monospace;
    font-weight:normal;
}

section.documentation .highlight {
    margin-bottom:15px;
    padding:15px;
    font-size:15px;
    font-family: monospace;
    border-radius:0px 10px 0px 10px;
    background:#fff;
    color:#000;
}

.admonition.note {
    background:#2a2a2a;
    padding:10px;
    border:1px solid;
    border-color:#3f3f3f;
    margin:20px 0px;
}

.admonition.note .admonition-title {
    color:#fff;
    display:inline;
    font-weight:bold;
}

.admonition.note .admonition-title:after {
    content:':';
}

.admonition.note p.last {
    margin-bottom:0px;
    display:inline;
}

.docs footer nav {
    margin-top:30px;
    text-align:center;
    color:#fff;
}

.docs footer nav a {
    color:#fff;
}

.docs footer nav a:hover {
    text-decoration:none;
}


.toctree-l2 > ul {
    display:inline;
    list-style:none;
    margin:0px;
    padding:0px;
}

.toctree-l2 > ul:before {
    content:'(';
}

.toctree-l2 > ul:after {
    content:')';
}

.toctree-l2 > ul > li {
    display:inline;
}

.toctree-l2 > ul > li a {
    font-size:14px;
}

.toctree-l2 > ul > li:after {
    content:', ';
}

.toctree-l2 > ul > li:last-child:after {
    content:'';
}
